* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;   
}

:root {
    white-space: 20px;
    
}

body {
    background-color: blue;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 100px;
}

.cabecalho-menu {

    display: flex;
    gap: 50px;
    font-weight: 800;
    font-size: 20px;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

a {
    color: white;
}

button {

    color: white;
    background-color: white;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px white;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300px;
    font-size: 18px;
    color:rgb(11, 41, 34);

}

.item {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1 {
     font-size: 30px;
     width: 350px;
     font-size: 48px;
}


.conteudo-principal-escrito-titulo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    width: 400px;
    color: white;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-escrito-botao {
    background-color: white;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px white;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 20px;
    color: black;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgb(232, 240, 236);
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    width: 400px;
    color: white;
    align-items: center; 
    margin-bottom: 100px;
   
}

.cabecalho-menu {
    font-size: 18px;
}

a:hover {
    color: white;
    transition: 0.3 all;
}

.conteudo-secundario-paragrafo {
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    color: antiquewhite;
}
.sessao-tabela {
    margin-top: 100px;
}

.table {
    border:rgb(30, 17, 211);
    padding: center;
    /* border: 1px solid #000; */
}

.table, tr, td {
    border-radius: 10px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
    color:#FFF2E7;
    font-family: Arial, Helvetica, sans-serif;
}

.tr, td {
    padding: 5px 10px;
}

.tr, td {
    background-color: #4d0fdf;
}

footer {

    border: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: right;
}

p {
    font-size: 25px;
    align-items: center;
    color: white;
}

img {
    margin: 20px;;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

svg {
    font-size: 30px;
    color: #1815d1;
    align-items: center;
    width: 180px;
    height: 80px;

}